h1 {
  text-align: center;
}
table {
  width: 100%;
}
th {
  background-color: brown;
  color: antiquewhite;
}
td {
  text-align: center;
}
img {
  width: 150px;
  height: auto;
}
a {
  text-decoration: none;
  background-color: brown;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  color: antiquewhite;
}

.addOrSearch {
  display: flex;
  justify-content: space-between;
}
.addOrSearch input {
  width: 200px;
  height: 30px;
}
.addOrSearch button {
  height: 30px;
  width: 100px;
  display: inline-block;
  padding: 5px;
  background-color: brown;
  border: none;
  color: antiquewhite;
}
.addOrSearch button:hover {
  cursor: pointer;
}
.confirmPass {
  color: red;
  font-style: italic;
}
.logout-wrapper {
  display: flex;
  flex-direction: row-reverse;
}
.navigasi {
  margin-top: 20px;
  margin-right: 10px;
}
.blue {
  background-color: blue;
}
